.game-box {
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  border: 1px solid rgb(255,255,255);
  background-color: rgb(0, 196, 177);
  border-radius: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.far, .fas {
  color: rgb(255,255,255);
}


.front, .back {
  width: 2.5em;
  height: 2.5em;
  
}